<div class="crypto-header">
  <div class="card text-white mx-auto inside-crypto-header" style="width: 25rem;">
    <div class="card-body text-center">
      <h1>Welcome <%= @name %></h1>
    </div>
  </div>
</div>

<% if signed_in? %>
  <div class="card mx-auto inside-crypto-header" style="width: 40rem;">
    <div class="card-header text-white text-center">
      <h3>Directory</h3>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item"><%= link_to 'Search the coin market', search_path %></li>
      <li class="list-group-item"><%= link_to 'Add a coin to your list', new_crypto_path %></li>
      <li class="list-group-item"><%= link_to 'View your coin list', cryptos_path %></li>
      <li class="list-group-item"><%= link_to 'Edit your profile', edit_user_registration_path %></li>
    </ul>
  </div>
<% else %>
  <div class="card mx-auto inside-crypto-header" style="width: 40rem;">
    <div class="card-header text-white text-center">
      <h3>Please sign in or sign up to continue</h3>
    </div>
  </div>
<% end %>