<h3>Crypto Currency Search</h3>
<br>
<%= form_tag search_path, method: :post do %>
  <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50 %>
  <%= submit_tag 'Search Stock Quote' %>
<% end %>
<br>

<% if @symbol %>
  <% @data.each do |coin| %>
    <% if coin["symbol"] == @symbol %>
      <%= coin["name"] %>: $<%= coin["quote"]["USD"]["price"] %>
    <% end %>
  <% end %>
<% end %>