<div class="crypto-header">
  <div class="card text-white mx-auto inside-crypto-header" style="width: 25rem;">
    <div class="card-body text-center">
      <h1>Crypto Currency</h1>
    </div>
  </div>
</div>

<div class="crypto-table">
  <table class="table table-striped table-bordered table-light">
    <thead class="crypto-table-header text-white">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rank</th>
        <th scope="col">Current Price (CP)</th>
        <th scope="col">Current Value (CV)</th>
        <th scope="col">Cost Paid Per</th>
        <th scope="col">Own (O)</th>
        <th scope="col">Total Paid (TP)</th>
        <th scope="col">Profit/Loss (CV * O - TP)</th>
      </tr>
    </thead>
    <tbody>
      <% @cryptos.each do |crypto| %>
        <tr>
        <% if crypto.user_id == current_user.id %>
          <% @data.each do |coin|  %>
            <% if crypto.symbol.upcase == coin["symbol"] %>
              <td> <%= link_to c_name(coin), crypto %> </td>
              <td> <%= rank(coin) %> </td>
              <td> $<%= current_value(coin).round(4) %> </td>
              <td> $<%= (current_value(coin) * crypto.amount_owned).round(4) %> </td>      
              <td> <%= number_to_currency(crypto.cost_per) %> </td>
              <td> <%= crypto.amount_owned %> </td>
              <td> $<%= crypto.cost_per * crypto.amount_owned %> </td>
              <td> $<%= calucate_profit_loss(coin,crypto).round(4) %> </td>
              <% @total += calucate_profit_loss(coin,crypto) %>
            <% end %>
          <% end %>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <strong>Overall Profit/Loss: </strong> <span><%= number_to_currency(@total) %></span>
</div><br>


<div class="container-fluid">
  <%= link_to 'New Crypto', new_crypto_path, class: "btn btn-primary" %> 
</div>
