<div class="card bg-light border-dark mb-3 mx-auto" style="max-width: 30rem;">
  <div class="card-header text-white text-center inside-crypto-header">
    <h4><%= @coin["name"] %></h4>
  </div>
  <div class="card-body">
    <p class="card-text">
      <div class="row">
        <div class="col-sm-4">
          <strong>1 HR Change</strong><br><%= @coin_change_1h %>%
        </div>
        <div class="col-sm-4">
          <strong>24 HR Change</strong><br><%= @coin_change_24h %>%
        </div>
        <div class="col-sm-4">
          <strong>7 Day Change</strong><br><%= @coin_change_7d %>%
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col-sm-6">
          <strong>Symbol:</strong><br><%= @coin_symbol %>
        </div>
        <div class="col-sm-6">
          <strong>Rank:</strong><br> <%= @coin_rank %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <strong>Current Price:</strong><br> $<%= @coin_price %>
        </div>
        <div class="col-sm-6">
          <strong>Profit/Loss:</strong> <br> $<%= @profit_loss %>    
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <strong>Amount Owned: </strong> <br> <%= @crypto.amount_owned %>
        </div>
        <div class="col-sm-6">
          <strong>Cost Paid Per Coin:</strong> <br> <%= number_to_currency(@crypto.cost_per) %>  
        </div>
      </div>
    </p>
  </div>
  <div class="card-footer bg-transparent border-dark text-center">
    <%= link_to "Back", cryptos_path, class: "btn btn-info" %>
    <%= link_to "Edit", edit_crypto_path, class: "btn btn-warning" %>
    <%= link_to "Delete", crypto_path(@crypto), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
  </div>
</div>